<div id="sidebar-wrapper" class="col-sm-3">
	Nieuw binnen
	<ul>
		<li ng-repeat="f in files | orderBy:f.uploaded | limitTo: 5"><a ng-href="#/file/{{f.id}}">{{f.title}}</a></li>
	</ul>
</div>

<div id="page-content-wrapper"  class="col-sm-9">
	<h2>{{onefile.title}}<span><button class="btn btn-success" ng-click="waardeer(onefile.id)">Waardeer</button></span></h2> <div ng-show="showGreeting">You already voted</div></br>
	<div><span >{{onefile.category}}</span>
	<span >{{onefile.filetype}}</span><span>{{onefile.votes}}</span></div></br>
	<div ta-bind ng-model="onefile.content">{{onefile.content}}</div>
	<button class="btn btn-primary" ng-click="pasaan()">Edit</button>
	<button class="btn btn-danger" ng-click="verwijderen(onefile.id)">Delete</button>

	<div ng-show="aan">
	Wijzig data:
		<table>
		    <tr>
		    	<th>Title</th><th>Genre</th><th>Filetype</th><th>
		    </tr>
		    <tr>
		       <td><input type="text" ng-model="onefile.title" name="all" value="onefile.title"></td>
		       <td>
		       <select ng-model="onefile.category">
			       <option value="CSS">CSS</option>
			       <option value="Design">Design</option>
				   <option value="HTML">HTML</option>
				   <option value="Javascript">Javascript</option>
				   <option value="PHP">PHP</option>
			   </select>
			   </td>
		       <td>{{onefile.filetype}}</td>
	    	</tr>
	    </table>
	    <div>
	    Content:
	    <div text-angular ng-model="onefile.content"></div>
		</div>

	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="edit(onefile.id)">Save</button>

	</div>
	</br>
	</br>
</div>



	
    