This is one file
</br>
</br>


	
    <table>
    <thead>
	    <tr>
	    	<th>Title</th><th>Genre</th><th>Filetype</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	       <td>{{onefile.title}}</td><td>{{onefile.category}}</td><td>{{onefile.filetype}}</td>
	       <td><button ng-click="verwijderen(onefile.id)">Delete</button></td>
		   <td><button ng-click="pasaan()">Edit</button></td>
    	</tr>
    </tbody>
    </table>

	<div ng-show="aan">
	Wijzig data:
		<table>
		    <tr>
		    	<th>Title</th><th>Genre</th><th>Filetype</th><th>
		    </tr>
		    <tr>
		       <td><input type="text" ng-model="onefile.title" name="all" value="onefile.title"></td>
		       <td>
		       <select ng-model="onefile.category">
			       <option value="CSS">CSS</option>
			       <option value="design">Design</option>
				   <option value="html">HTML</option>
				   <option value="javascript">Javascript</option>
				   <option value="PHP">PHP</option>
			   </select>
			   </td>
		       <td>{{onefile.filetype}}</td>
		       <td>
			       <button class="btn" ng-click="cancel()">Cancel</button>
			       <button class="btn" ng-click="edit(onefile.id)">Save</button>
		       </td>
	    	</tr>
	    </table>

	</div>
</br>
</br>