	<div id="sidebar-wrapper" class="col-sm-4">
		Search : <input type="text" placeholder="Search by title" ng-model="searchText.title" ng-change="selected()" /></br></br>
			
		<div class="category">
		Select your category: </br>
			<div ng-repeat="cat in getCategories()">
		    <input type="checkbox" ng-model="filter[cat]" ng-change="selected()" /> {{cat}}
			</div></br>
		</div>

		<div class="filetype">
		Select a filetype:
				<input type="radio" ng-model="catSort" name="all" value="" ng-change="selected()"> All
				<input type="radio" ng-model="catSort" name="codesnippet" value="codesnippet" ng-change="selected()"> Codesnippets
				<input type="radio" ng-model="catSort" name="article" value="article" ng-change="selected()"> Articles
				<input type="radio" ng-model="catSort" name="video" value="video" ng-change="selected()"> Videos
				<input type="radio" ng-model="catSort" name="link" value="link" ng-change="selected()"> Link
		</div>

		<div class="control-group">
			<label class="control-label" for="fn">Voeg nieuwe file toe</label>
			<div class="controls">
				<input id="fn" type="text" ng-model="file.title"
				placeholder="Titel" required="required"/>	 
				<select ng-model="file.category">
				   <option value="CSS">CSS</option>
			       <option value="design">Design</option>
				   <option value="html">HTML</option>
				   <option value="javascript">Javascript</option>
				   <option value="PHP">PHP</option>
				</select>
				<select ng-model="file.filetype">
				   <option value="article">Article</option>
			       <option value="codesnippet">Codesnippet</option>
				   <option value="video">Video</option>
				   <option value="link">Link</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="opslaan()" ng-model-instant>
				<a class="icon-plus"></a> Save
			</button>
		</div>
	</div>

	<div id="page-content-wrapper"  class="col-sm-8">
		<div ng-show="filtered.length">
		    <div class="">
		        <h5>Found {{ filtered.length }} of {{ totalItems}} total files</h5>
		    </div>
			<table>
				<thead>
					<tr>
						<th ng-click="sortData('title')">
							Title <div ng-class="getSortClass('title')"></div>
						</th>
						<th ng-click="sortData('uploaded')">
							Uploaded <div ng-class="getSortClass('uploaded')"></div>
						</th>
						<th >
							Genre
						</th>
						<th >
							filetype 
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="f in filtered = ( files | orderBy: sortColumn:reverseSort | filter: filterByCategory | filter: filterFile | filter: searchText ) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit ">
						<td><a ng-href="#/file/{{f.id}}">{{ f.title }}</a></td>
						<td>{{ f.uploaded | date:"dd/MM/yyyy" }}</td>
						<td>{{ f.category }}</td>
						<td>{{ f.filetype }}</td>
					</tr>
				</tbody>
				</br>
			</table>
		</div>

		<div class="col-md-12" ng-show="filteredItems > 0">    
	            <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
	    </div>

		<div ng-hide="filtered.length">
			No data found, try again.
		</div>
	</div>