	Search : <input type="text" placeholder="Search by title" ng-model="searchText.title" /></br></br>
			
	<div class="category">
	Select category: </br>
		<div ng-repeat="cat in getCategories()">
	    <input type="checkbox" ng-model="filter[cat]" /> {{cat}}
		</div></br>
	</div>

	<div class="filetype">
	Select filetype:
			<input type="radio" ng-model="catSort" name="all" value=""> All
			<input type="radio" ng-model="catSort" name="codesnippet" value="codesnippet"> Codesnippets
			<input type="radio" ng-model="catSort" name="article" value="article"> Articles
			<input type="radio" ng-model="catSort" name="video" value="video"> Videos
			<input type="radio" ng-model="catSort" name="link" value="link"> Link
	</div>
	</br>


	<div ng-show="filtered.length">
		Gevonden resultaten: {{filtered.length}}
		<table>
			<thead>
				<tr>
					<th ng-click="sortData('title')">
						Title <div ng-class="getSortClass('title')"></div>
					</th>
					<th ng-click="sortData('uploaded')">
						Uploaded <div ng-class="getSortClass('uploaded')"></div>
					</th>
					<th >
						Genre
					</th>
					<th >
						filetype 
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="f in filtered = ( files | orderBy: sortColumn:reverseSort | filter: filterByCategory | filter: filterFile | filter: searchText | limitTo: 20 )">
					<td><a ng-href="#/file/{{f.id}}">{{ f.title }}</a></td>
					<td>{{ f.uploaded | date:"dd/MM/yyyy" }}</td>
					<td>{{ f.category }}</td>
					<td>{{ f.filetype }}</td>
				</tr>
			</tbody>
		  </br>
		</table>
	</div>

	<div ng-hide="filtered.length">
		No data found, try again.
	</div>

	<div class="control-group">
	<label class="control-label" for="fn">Voeg nieuwe file toe</label>
		<div class="controls">
			<input class="input-xlarge" id="fn" type="text" ng-model="file.title"
			placeholder="Titel" required="required"/>	 
			<input class="input-xlarge" id="fn" type="text" ng-model="file.category"
			placeholder="Category" required="required"/>
			<input class="input-xlarge" id="fn" type="text" ng-model="file.filetype"
			placeholder="Filetype" required="required"/>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="opslaan()" ng-model-instant>
			<a class="icon-plus"></a> Save
		</button>
	</div>