<div id="sidebar-wrapper" class="col-sm-3">
	Nieuw binnen
	<ul>
		<li ng-repeat="f in files | orderBy:f.uploaded | limitTo: 5"><a ng-href="#/file/{{f.id}}">{{f.title}}</a></li>
	</ul>
</div>

<div id="page-content-wrapper"  class="col-sm-9">
	<div class="control-group">
		<label class="control-label" for="fn">Voeg nieuwe file toe</label>
		<div class="controls">
			<input id="fn" type="text" ng-model="file.title"
			placeholder="Titel" required="required"/>	 
			<select ng-model="file.category">
			   <option value="CSS">CSS</option>
		       <option value="Design">Design</option>
			   <option value="HTML">HTML</option>
			   <option value="Javascript">Javascript</option>
			   <option value="PHP">PHP</option>
			</select>
			<select ng-model="file.filetype">
			   <option value="Article">Article</option>
		       <option value="Codesnippet">Codesnippet</option>
			   <option value="Video">Video</option>
			   <option value="Link">Link</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary" ng-click="opslaan()" ng-model-instant>
			<a class="icon-plus"></a> Save
		</button>
		<a class="btn btn-warning btn-md" ng-href="#/">Cancel</a>
	</div>
</div>