<div id="sidebar-wrapper" class="col-sm-3">
	Nieuw binnen
	<ul>
		<li ng-repeat="f in files | orderBy:f.uploaded | limitTo: 5"><a ng-href="#/file/{{f.id}}">{{f.title}}</a></li>
	</ul>
</div>

<div id="page-content-wrapper"  class="col-sm-9">
	<div class="control-group">
		<label class="control-label" for="fn">Voeg nieuwe file toe</label>
		<div class="controls">
			<div>
			Titel: 
			<input id="fn" type="text" ng-model="file.title"
			placeholder="Titel" required="required"/>	
			</div>
			<div> 
			Category:
			<select ng-model="file.category">
			   <option value="" disabled>>- maak een keuze -<</option>
			   <option value="CSS">CSS</option>
		       <option value="Design">Design</option>
			   <option value="HTML">HTML</option>
			   <option value="Javascript">Javascript</option>
			   <option value="PHP">PHP</option>
			</select>
			</div>
			<div>
			Filetype: 
			<select ng-model="file.filetype">
			   <option value="" disabled>>- maak een keuze -<</option>
			   <option value="Article">Article</option>
		       <option value="Codesnippets">Codesnippets</option>
			   <option value="Video">Video</option>
			   <option value="Link">Link</option>
			</select>
			</div>
			<div>
			Content:
			<div text-angular ng-model="file.content"></div>
			</div>
			<div>
				<span>Uitgelichte afbeelding: </span>
				<input type = "file" file-model = "file.myfile" />
			</div>
			<div>
				<button type="submit" class="btn btn-primary" ng-click="opslaan()" ng-model-instant>
					<a class="icon-plus"></a> Save
				</button>
				<a class="btn btn-warning btn-md" ng-href="#/">Cancel
				</a>
			</div>
		</div>
	</div>
</div>